@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565C66;
  height: 100%;
  margin: 0;
}

.page-pink {
  background: #FEAFC3;
}

.page-blue {
  background: #69A9FF;
}

.page-yellow {
  background: #FCC850;
}

.page-wpapper {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.page-content {
  flex-grow: 1;
}

.page-header {
  display: flex;
  align-items: center;
  padding-top: 24px;
}

.page-navigation {
  flex-grow: 1;
}

.page-navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 16px;
}

.page-navigation-link {
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 30px;
}

.page-navigation-link:hover {
  background: rgba(252, 252, 252, 0.5);
}

.page-navigation-link:focus {
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
}

.page-navigation-link:active {
  background: #FCFCFC;
}

.user-butons-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-buton {
  font-family: inherit;
  font-size: 14px;
  line-height: 20px;
  color: #2D3440;
  padding: 6px 16px;
  border-radius: 30px;
  background: rgba(252, 252, 252, 0.3);
  border: none;
  min-height: 32px;
  margin-left: 16px;
}

.phone {
  font-weight: 700;
  line-height: 20px;
  color: #2D3440;
  text-decoration: none;
}
